@import "../../Common-Style/colors.scss";
.app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  padding: 4px 10px;
}
.app-header__list {
  display: flex;
  justify-content: space-around;
}

.header-list__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.app-header-list-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  animation: move-header-icon 2s ease forwards;
}

@keyframes move-header-icon {
  from {
    transform: translateY(-200px);
  }
  60% {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}
.app-header-color__home {
  background-color: #e29d4385;
}
.app-header-color__createBudget {
  background-color: $createBudgetPageBg;
}
