$bgBorder: rgba(122, 9, 229, 0.563);
$shadow: rgba(255, 255, 255, 0.883);
$bgBorderEl: rgba(167, 14, 209, 0.192);
$bgEl: rgba(112, 20, 197, 0.456);
$shadowEl: rgba(102, 49, 151, 0.378);
$colorError: rgb(255, 30, 30);
$bgElNoTransparent: rgb(112, 20, 197);
$colorTextError: rgb(255, 113, 113);
