$bgBorder: #7a09e590;
$shadow: #ffffffe1;
$bgBorderEl: #a70ed131;
$bgEl: #7014c574;
$shadowEl: #00000060;
$colorError: rgb(255, 30, 30);
$bgElNoTransparent: rgb(112, 20, 197);
$colorTextError: rgb(255, 113, 113);

$colorBackOfElementsMainPage: rgba(255, 255, 255, 0.3);
//color bg pages
$homePageBg: #deb88765;
$accountPageBg: #a887de65;
$createBudgetPageBg: #87d1de65;
$aimPageBg: #de878765;
$chatPageBg: #de87dd65;
$expensPageBg: #87a8de65;
$incomsPageBg: #87de9d65;
$statPageBg: #b387de65;
