@import "../../Common-Style/colors.scss";
@import "../../Common-Style/mixins.scss";
.app-nav__wrapper-disabled {
  padding: 5px;
  @include shadowEl();
  background-color: $colorBackOfElementsMainPage;
  width: 30px;
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  height: 30px;
  transition: 0.3s all;
  overflow: hidden;
  animation: wrapper-disabled 1s ease forwards;
  cursor: pointer;
}

@keyframes wrapper-disabled {
  from {
    height: 420px;
  }
  to {
    height: 30px;
  }
}

.app-nav__wrapper {
  transform: 0.3s all;
  padding: 5px;
  @include shadowEl();
  background-color: $colorBackOfElementsMainPage;
  width: 60px;
  position: absolute;
  top: 20%;
  left: 1%;
  z-index: 100;
  border-radius: 5px;
  animation: wrapper-active 0.7s ease forwards;
}
@keyframes wrapper-active {
  from {
    overflow: hidden;
    height: 52px;
  }
  90% {
    overflow: hidden;
    height: 425px;
  }
  to {
    overflow: visible;
    height: auto;
  }
}
.nav-control {
  transform: 0.3s all;
  background-color: #8c8c8c;
  border-radius: 5px;
  margin-bottom: 7px;
  width: 40px;
  height: 40px;
  transition: 0.3s all;
  position: relative;
}
.nav-control-active {
  transform: 0.3s all;
  height: 20px;
  width: 20px;
}
//control

.nuv-line {
  transition: 0.3s all;
  position: absolute;
}
.nav-menu-line-one {
  transform: translateY(5px);
  font-size: 15px;
}
.nav-menu-line-two {
  font-size: 15px;
}
.nav-menu-line-three {
  transform: translateY(-5px);
  font-size: 15px;
}

.nav-menu-line-one-active {
  transform: rotate(45deg);
  font-size: 30px;
}

.nav-menu-line-two-active {
  font-size: 30px;
  opacity: 0;
}
.nav-menu-line-three-active {
  font-size: 30px;
  transform: rotate(-45deg);
}
//control
.app-nav-menu-disabled {
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.app-nav-menu {
  transform: 0.3s all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.link-active {
  width: 100px;
  display: inline;
  transition: 0.3s all;
  animation: link-active 0.2s ease forwards;
  & .link-content {
    height: 40px;
  }
  & .link-svg {
    margin-left: 10px;
  }
}

.link-active:nth-child(2) {
  animation-delay: 0.1s;
}
.link-active:nth-child(3) {
  animation-delay: 0.17s;
}
.link-active:nth-child(4) {
  animation-delay: 0.24s;
}
.link-active:nth-child(5) {
  animation-delay: 0.31s;
}
.link-active:nth-child(6) {
  animation-delay: 0.38s;
}
.link-active:nth-child(7) {
  animation-delay: 0.45s;
}
.link-active:nth-child(8) {
  animation-delay: 0.52s;
}
.link-active:nth-child(9) {
  animation-delay: 0.59s;
}
.link-active:nth-child(10) {
  animation-delay: 0.68s;
}
.dis-none {
  //transition: 0.3s all;
  opacity: 0;
}
.dis-vei {
  //transition: 0.3s all;
  opacity: 1;
}
@keyframes link-active {
  from {
    opacity: 0;
    width: 0;
    height: 0;
    margin-bottom: 5px;
    transform: scale(0);
  }
  80% {
    width: 40px;
    height: 40px;
    transform: scale(1.1);
    opacity: 1;
    margin-bottom: 20px;
  }
  to {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    transform: scale(1);
  }
}

/////////////////////////
.link-disabled:nth-child(1) {
  animation-delay: 0.52s;
}
.link-disabled:nth-child(2) {
  animation-delay: 0.45s;
}
.link-disabled:nth-child(3) {
  animation-delay: 0.38s;
}
.link-disabled:nth-child(4) {
  animation-delay: 0.31s;
}
.link-disabled:nth-child(5) {
  animation-delay: 0.24s;
}
.link-disabled:nth-child(6) {
  animation-delay: 0.17s;
}
.link-disabled:nth-child(7) {
  animation-delay: 0.1s;
}

@keyframes link-disabled {
  from {
    transition: 0.2s all;
    transform: scale(1);
  }
  to {
    display: none;
    transform: scale(0);
  }
}
.link {
  transform: 0.2s all;
  margin-bottom: 7px;
  width: 0px;
  height: 0px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover span {
    transform: 0.2s all;
    opacity: 1;
    display: flex;
    width: 100px;
  }
  &:hover {
    transform: 0.5s all;
    width: 80px;
    transform: translateX(20px);
  }
  & .link-content {
    transform: 0.5s all;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link-svg {
      min-width: 20px;
      min-height: 20px;
    }
    transition: 0.2s all;
  }
  &:hover .link-content {
    transition: 0.5s all;
    transform: translateX(20px);
    width: 140px;
  }
  & span {
    transition: 0.2s all;
    color: white;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    justify-content: start;
    width: 10px;
    height: 40px;
    opacity: 0;
  }
}
.link-disabled {
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
  transition: 0.2s all;
  animation: link-disabled 0.2s ease forwards;
  & .link-content {
    & .link-svg {
      font-size: 5px;
      max-width: 5px;
      max-height: 5px;
      margin-left: 2px;
    }
  }
}
//home
.active-link-home .link-content-home {
  box-shadow: 0px 0px 3px 5px rgba(222, 184, 135, 0.4);
}

.link-content-home {
  background-color: #deb887;
}
//--->

// stat

.link-content-stat {
  background-color: #b387de;
}

.active-link-stat .link-content-stat {
  box-shadow: 0px 0px 3px 5px rgba(179, 135, 222, 0.4);
}
// --->

// aim
.link-content-aim {
  background-color: #de8787;
}
.active-link-aim .link-content-aim {
  box-shadow: 0px 0px 3px 5px rgba(222, 135, 135, 0.4);
}

// -->>

// incoms
.link-content-incom {
  background-color: #87de9d;
}
.active-link-incom .link-content-incom {
  box-shadow: 0px 0px 3px 5px rgba(135, 222, 157, 0.4);
}

// -->>

// expens

.link-content-expens {
  background-color: #87a8de;
}
.active-link-expens .link-content-expens {
  box-shadow: 0px 0px 3px 5px rgba(135, 168, 222, 0.4);
}

// -->

// chat

.link-content-chat {
  background-color: #de87dd;
}
.active-link-chat .link-content-chat {
  box-shadow: 0px 0px 3px 5px rgba(222, 135, 221, 0.4);
}

// -->

// account

.link-content-account {
  background-color: #a887de;
}
.active-link-account .link-content-account {
  box-shadow: 0px 0px 3px 5px rgba(168, 135, 222, 0.4);
}

// -->

// account

.link-content-createBudget {
  background-color: #87d1de;
}
.active-link-createBudget .link-content-createBudget {
  box-shadow: 0px 0px 3px 5px rgba(135, 209, 222, 0.4);
}

// -->

// comment

.link-content-comment {
  background-color: #bf0000a4;
}
.active-link-comment .link-content-comment {
  box-shadow: 0px 0px 3px 5px #bf000063;
}

// -->

.have-not-budget {
  opacity: 0.3;
}

.nuv-line {
  top: 12%;
  left: 12%;
}
