@import "../../Common-Style/mixins.scss";
@import "../../Common-Style/colors.scss";
.app__login-page {
  @include bgPage();
}

.app-login-page-forms__form {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & h2 {
    padding: 0 0 5px 0;
  }
}
.app-login-page-forms-form__btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.app-login-page-forms-form__inputs {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app-login-page-forms-form-registration-input {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-change-enter {
  transform: translateX(-110%);
}
.form-change-enter-active {
  transform: translateX(0%);
}
.form-change-exit {
  transform: translateX(0%);
}

.form-change-exit-active {
  transform: translateX(110%);
}
.form-change-enter-active,
.form-change-exit-active {
  transition: all 300ms;
}

.app-login-page-forms {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-error-login {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 15px;
    line-height: 18px;
    color: white;
    padding: 10px;
    @include borderEl();
    //@include shadowErr();
    background-color: $bgElNoTransparent;
    & span {
      margin-right: 10px;
      font-size: 15px;
    }
    & .al-self-icon {
      color: $colorTextError;
    }
  }
}
.page-blur {
  filter: blur(2px);
}
.app-error-login__error-reg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app-error-login-error-reg__errors-list {
  display: flex;
  flex-direction: column;
}

.change-form-loginPgae-enter {
  //opacity: 0;
  transform: translateX(-110%);
}
.change-form-loginPgae-enter-active {
  //opacity: 1;
  transform: translateX(0%);
}
.change-form-loginPgae-exit {
  //opacity: 1;
  transform: translateX(0%);
}
.change-form-loginPgae-exit-active {
  //opacity: 0;
  transform: translateX(110%);
}
.change-form-loginPgae-enter-active,
.change-form-loginPgae-exit-active {
  transition: transform 400ms;
}
@media (max-width: 470px) {
  .app-login-page-forms__form {
    & h2 {
      font-size: 15px;
    }
  }
  .app-login-page-forms-form__btns {
    height: 30%;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-height: 400px) {
  .app-error-login {
    & li {
      padding: 5px;
    }
  }
}
@media (max-width: 350px) {
  .app-error-login {
    & li {
      padding: 0px;
      & span {
        font-size: 10px;
      }
    }
  }
}
