.loading-on-all-page {
  position: absolute;
  width: 0px;
  top: 0;
  left: -19%;
  height: 110%;
  background-color: white;
  box-shadow: 2px 7px 4px 10px white;
  opacity: 0.9;
  border-radius: 20px;
  transition: 0.3s all;
  animation: loading-on-all-page 1.5s infinite;
}
@keyframes loading-on-all-page {
  0% {
    left: -10%;
  }
  100% {
    left: 120%;
  }
}
