@import "../../Common-Style/colors.scss";
@import "../../Common-Style/mixins.scss";
.input-wrapper__input {
  background-color: transparent;
  transition: 0.4s all;

  height: 50px;
  font-size: 18px;
  padding: 5px;

  color: white;

  &::placeholder {
    color: rgba(104, 104, 104, 0.396);
  }
  &:focus::placeholder {
    color: rgba(78, 27, 126, 0);
  }
}

.input-wrapper {
  position: relative;

  height: 50px;
}

.input-wrapper:hover .input-wrapper-btn__stroke {
  transition: 0.3s ease-in-out;
  position: absolute;
  height: 0%;
  top: 0;
  right: 0;
  width: 0%;
  background-color: transparent;

  animation: input-after 1s infinite;
}
.input-wrapper__input:focus .input-wrapper-btn__stroke {
  transition: 0.3s ease-in-out;
  position: absolute;
  height: 0%;
  top: 0;
  right: 0;
  width: 0%;

  animation: input-after 1s infinite;
}
@keyframes input-after {
  0% {
    right: -3%;
    top: -3%;
    height: 1%;
    width: 0.5%;
  }
  12% {
    right: -3%;
    top: -3%;
    height: 100%;
    width: 0.5%;
  }
  24% {
    right: -3%;
    top: 99%;
    height: 1%;
    width: 0.5%;
  }
  36% {
    right: -3%;
    top: 99%;
    height: 1%;
    width: 101%;
  }
  48% {
    right: 100%;
    top: 106%;
    height: 1%;
    width: 0.5%;
  }
  60% {
    right: 99%;
    top: -5%;
    height: 100%;
    width: 0.5%;
  }
  72% {
    right: 99%;
    top: -1%;
    height: 1%;
    width: 0.5%;
  }
  84% {
    right: -1%;
    top: -1%;
    height: 1%;
    width: 100%;
  }
  100% {
    right: -1%;
    top: -1%;
    height: 1%;
    width: 0%;
  }
}
.input-wrapper__btn {
  position: absolute;
  top: 35%;
  right: 0;
  color: white;
}
//login

.input-wrapper-color-login:hover .input-wrapper-btn__stroke {
  @include shadowActiveEl();
}
.input-wrapper-color-login {
  width: 96%;
}

.input-wrapper-color-login:focus .input-wrapper-btn__stroke {
  background-color: $bgBorder;
  @include shadowActiveEl();
}
.input-color-login {
  width: 103.5%;
  @include borderEl();
  @include shadowEl();
  &:active {
    @include borderActiveEl();
    @include shadowActiveEl();
    background-color: $bgEl;
  }

  &:focus {
    @include borderActiveEl();
    @include shadowActiveEl();
    background-color: $bgEl;
  }
}

.input-color-create {
  width: 100%;
  border: 3px solid #87d1de;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 2px #87d1de;
  &:active {
    background-color: #87d1de;
    box-shadow: 0px 0px 4px 2px #87d1de00;
  }

  &:focus {
    box-shadow: 0px 0px 4px 2px #87d1de00;
    background-color: #87d1de;
  }
}
@media (max-height: 480px) {
  .input-wrapper__input {
    height: 35px;
    font-size: 12px;
    &::placeholder {
      font-size: 13px;
    }
  }
  .input-wrapper__btn {
    top: 20%;
  }
  .input-wrapper {
    height: 35px;
  }
}

@media (max-height: 400px) {
  .input-wrapper__input {
    height: 25px;
    font-size: 12px;
    &::placeholder {
      font-size: 13px;
    }
  }
  .input-wrapper__btn {
    top: 20%;
  }
  .input-wrapper {
    height: 25px;
  }
}
