@import "../../Common-Style/colors.scss";
@import "../../Common-Style/mixins.scss";
.app__alert-container {
  overflow: hidden;
  transform: scale(1);
  position: absolute;
  width: 300px;
  height: 400px;
  top: calc(50% - 400px / 2);
  left: calc(50% - 300px / 2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: #b8196350;
  z-index: 101;

  & p {
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    color: white;
  }

  & h2 {
    font-size: 20px;
  }
}
.app__alert-container-error {
  @include shadowErr();
}
.app__alert-container-alert {
  box-shadow: 0px 0px 8px 1px rgba(248, 255, 0, 0.36);
}
.app__alert-container-success {
  box-shadow: 0px 0px 8px 1px rgba(0, 255, 26, 0.36);
}
.h2-error {
  color: $colorTextError;
}
.h2-alert {
  color: rgba(248, 255, 0);
}
.h2-success {
  color: rgb(0, 255, 26);
}
//-enter-active -exit-activ
.app-alert-anime-enter {
  transform: scale(0);
}
.app-alert-anime-exit {
  transform: scale(1);
}
.app-alert-anime-enter-active {
  transition: 0.3s all;
  transform: scale(1);
}
.app-alert-anime-exit-active {
  transition: 0.3s all;
  transform: scale(0);
}
.alert-btn-wrapper {
  max-width: 150px;
}
@media (max-height: 500px) {
  .app__alert-container {
    top: calc(50% - 300px / 3);
    left: calc(50% - 280px / 2);
  }
}

@media (max-width: 350px) {
  .app__alert-container {
    width: 180px;
    height: 200px;
    top: calc(50% - 180px / 2);
    left: calc(50% - 200px / 2);
    & p {
      line-height: 18px;
      font-size: 14px;
    }

    & h2 {
      font-size: 14px;
    }
    & li {
      & span {
        font-size: 14px;
        line-height: 18px;
        padding: 2px;
      }
    }
  }
}
@media (min-height: 400px) {
  .app__alert-container {
    width: 280px;
    height: 350px;
    top: calc(50% - 300px / 2);
    left: calc(50% - 280px / 2);
  }
}
