@import "../../Common-Style/mixins.scss";
.app-home-wrapper {
  padding: 0 20px;
}
.app-home-page-content {
  display: flex;
  justify-content: space-between;
}

.app-home-page-content__wrapper {
  width: 100%;
  height: 100%;
}
.app-home-sceleton__wrapper {
  width: 100%;
  height: 100%;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.app-home-content__item {
  padding: 5px;
  width: 47%;
  min-width: 270px;
  height: 80%;
  min-height: 400px;
  background-color: #deb88760;
  margin-bottom: 50px;
  @include shadowEl();
  border-radius: 10px;
}

.app-home-page-info__content {
  padding: 15px;
  height: 100%;
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-home-page-budget {
  height: 100%;
  min-height: 350px;
  & h2 {
    padding: 5px 7px;
    background-color: #deb88760;
    border: 3px solid #e3a24d60;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    line-height: 30px;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.38);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }
}
.app-home-page-no-budget {
  font-size: 17px;
  color: white;
  line-height: 35px;
}
@media (max-width: 650px) {
  .app-home-content__item {
    width: 90%;
  }
  .app-home-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
