@import "../../Common-Style/colors.scss";
@import "../../Common-Style/mixins.scss";
.btn {
  @include borderEl();
  @include flexible();
  font-size: 14px;
  color: rgb(255, 255, 255);
  width: 170px;
  height: 40px;
  padding-left: 5px;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  transition: 0.1s all;
  @include shadowEl();
  &:hover .btn__stroke {
    transition: 0.2s ease-in-out;
    position: absolute;
    height: 0%;
    top: 0;
    right: 0;
    width: 0%;
    background-color: transparent;
    @include shadowActiveEl();
    @include animateEl();
  }
  &:active .btn__stroke {
    display: none;
  }
}

.pulse {
  border-radius: 50%;
  transform: scale(0);
  animation: pulse 0.3s linear;
  pointer-events: none;
  position: absolute;
  transition: transform 0.3s, opacity 0.3s;
}

@keyframes pulse {
  55% {
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
.pulse-dark {
  background: $bgEl;
}
.pulse-light {
  background: rgba(255, 255, 255, 0.608);
}
@media (max-height: 400px) {
  .btn {
    font-size: 12px;
    height: 25px;
  }
}

.border-red {
  border: 2px solid rgba(191, 0, 0, 0.285);
}
.border-blue {
  border: 2px solid rgba(53, 129, 195, 0.285);
}
.border-pinc {
  border: 2px solid rgba(214, 90, 216, 0.285);
}
.border-yellow {
  border: 2px solid rgba(230, 202, 79, 0.285);
}
.border-green {
  border: 2px solid rgba(104, 225, 118, 0.285);
}
.border-violet {
  border: 2px solid rgba(216, 76, 226, 0.285);
}
